/* for inline code tag */

:not(pre)>code {
  background: var(--color-black);
  border-radius: 3px;
  color: white;
  font-family: 'Courier New',  monospace;
  padding: 2px 6px;
} 

code {
  font-family: 'Courier New',  monospace;
}

.demo-block,
.code-block {
  border: 1px solid;
}

.demo-block__header,
.code-block__header {
  border-bottom: 1px solid;
  font-family: 'Courier New',  monospace;
  padding: var(--space-3xs) var(--space-m);
}

.code-block pre {
  border-radius: 0;
  line-height: 1.2;
  margin: 0;
  overflow-x: auto;
  padding: var(--space-m);
  tab-size: 4;
}

.code-block dd {
  margin-inline-start: 0;
}

.code-block__icon,
.demo-block__icon {
  display: block;
  height: 3rem;
  width: 3rem;
}

.demo-block__icon {
  height: 3rem;
  width: 3rem;
}

.code-block__icon {
  height: 2rem;
  width: 2rem;
}