@import "_reset.css";
@import "_variables.css";
@import "_grid.css";
@import "_nav.css";
@import "_hero.css";

body {
  background-color: var(--color-yellow);
  color: var(--color-black);
  font-family: var(--font-base);
  font-weight: 400;
  font-style: normal;
  font-size: var(--step-0);
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--space-m);
  padding-right: var(--space-m);
  width: clamp(16rem, 93vw, 85rem);
}

.section {
  padding-block: var(--space-l-xl);
}

.repel {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.site-title {
  font-size: var(--step-1);
  font-weight: 700;
  text-decoration: none;
}

.text {
  line-height: 1.8;
  max-width: 50rem;
}

.work {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 600px) {
  .work-title {
    font-size: var(--step-5);
  }
}

.work-title {
  color: var(--color-black);
  font-size: var(--step-3);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
}

.tags li {
  background-color: var(--color-black);
  color: var(--color-yellow);
  font-family: monospace;
  border: 1px solid var(--color-black);
  font-size: var(--step--2);
  border-radius: 4rem;
  padding: 0.1rem 0.75rem;
}

.svg-sprite {
  display: none;
}

svg {
  max-width: 100%;
}

.center-v {
  align-content: center;
}

.flow > * + * {
  margin-top: var(--space-m);
}
