---
import BaseLayout from "@layouts/BaseLayout.astro";
import Test from "@components/test";
console.log("This runs in your terminal, not the browser!");
---

<BaseLayout title="Carlo Trimarchi">
	<h1>Hello, World!</h1>
	<Test />
</BaseLayout>

<style>
	h1 {
		color: orange;
	}
</style>
