<footer class="main-footer">
	© 2026 Carlo Trimarchi - This website is built with <a href="https://astro.build/">Astro</a>, and <a href="https://github.com/carlotrimarchi/carlotrimarchi.github.io">its code is open source</a>.
</footer>
